body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(53, 30, 30);
    background-image: url(images/breakfastImage.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
 
}



header {
    background-color: rgb(27, 17, 15);
    color: rgb(243, 182, 182);
    padding: 20px 10px 20px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 30px;
    background-image: url(images/cofeeImage.jpg);
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
}

main {
    color: rgb(224, 224, 221);
    padding: 20px;

}

/*table{
width: 400px;
border-collapse: collapse;
background-color: rgb(41, 18, 15);
padding: 5px 10px 10px 10px ;

margin-left: 800px;
text-align: center;


}*/


.top-section {
    display: flex;/*--The items in the topsection will be placed side by side,allows to flex to items*/
    justify-content: space-between;
    align-items: flex-start;/* will align items at the top*/
    padding: 20px;
    margin-bottom: 30px;
    /*opacity: 0.8;*/
    
}
.middle-form {
   
    /*text-align: center;*/
    padding: 20px;
    background-color: rgb(24, 6, 6);
    width: 500px;
    border: 1px solid rgb(39, 4, 4);
    /*max-width: 800px;*/
    margin: 20px auto;
    border-radius: 25px;
    width: 800px;
    
}

label {
    display: block;
    margin: 10px 0 5px;

}

input, textarea{
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button{
    background-color: rgb(216, 140, 140);
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 30%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

.bottom-table {
    display: flex;
    justify-content: center;/*align items horizontally*/
    margin-top: 20px;
}
table {
    border-collapse: collapse;/*borders of adjacent cells merge into one single line*/
    background-color: rgb(41, 18, 15);
    border-radius: 25px;
    padding: 10px;/*space between the content and the border*/
    text-align: center;
    width: 400px;
    

}
th {
    text-decoration: underline;
    color: blanchedalmond;
}

h3{
    text-align: center;
    text-decoration:underline;
    font-size: 30px;
}

footer{
    text-align: left;
    color: blanchedalmond;
}

p{
    text-align: center;
    color: solid black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centered-div{
    background-color: rgb(100, 21, 21);
    padding: 10px;
    border-radius: 25px;
    width: 600px;
    text-align: center;
    color: beige;
    margin-left: 600px;/*push the whole grid to the right*/
    
    
}

select{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 14px;
    width: 300px;
    
}