body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(53, 30, 30);
    
    
}

header {
    background-color: rgb(27, 17, 15);
    color: rgb(224, 220, 220);
    padding: 20px 10px 20px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

main {
    color: rgb(224, 224, 221);
    padding: 20px;

}

table{
width: 400px;
border-collapse: collapse;
background-color: rgb(41, 18, 15);
/*padding: 5px 10px 10px 10px ;*/
border-radius: 25px;
margin-left: 40px;
text-align: center;



}



